#title{
    background-color: #ff4c68;
    color: #fff;
}
h1{
   
    font-family: 'Montserrat', sans-serif;
    line-height: 1.6;
    font-size: 3rem; 
}
h3{
    font-family: 'Montserrat', sans-serif;
}
h2{
    font-family: 'Montserrat', sans-serif;
    line-height: 1.5;
    font-size: 2.5rem;
    color: #fff;

}
em{
    color: #fff;
}

.container-fuild{
    padding: 3% 15%;
}
.head{
    padding-top: 18%;
}
/*navbar*/
.navbar{
    padding-bottom: 3.5rem;
}
.navbar-brand{
    font-family:"Ubuntu";
    font-size: 2.5rem;
    font-weight: bold;
}
.nav-item{
    padding: 0px 18px;
   
}
.nav-link{
    font-family:"Ubuntu" ;
    font-size: 1.2rem;
}
/*button*/
.Download-button{
    margin: 5% 3% 5% 0;
}
/*tittle-image*/
.tittle-image{
    width: 60%;
    transform: rotate(25deg);
}
/*second section*/
#features{
    padding: 7% 15%;
}
.feature-box{
    text-align: center;
    padding: 4%;
}
.icon{
    color: #ff4c68;
    margin-bottom: 1rem;
}
.icon:hover{
    color: #ef8172;
}

/*testimonials*/
#testimonials{
    padding: 7% 15%;
    text-align: center;
    background-color: #ff4c68;
}
.testimonials-image{
    width: 10%;
    border-radius: 100%;
    margin: 20px;

}
.carousel-item{
    padding: 7% 15%;
    padding-top: 9px;
}
#press{
    background-color: #ff4c68;
    text-align: center;
    padding-bottom: 3%;
}
.logo{
    width: 15%;
    margin: 20px 20px 50px;
}
/*pricing*/
#pricing{
    padding: 100px;
    text-align: center;
}
.pricings{
    color: dimgray;

}
.price{
    color: dimgray;
}
.btn:hover{
    
    background-color: dimgray;
    
}
.pricing-column{
    padding: 3% 2%;
}

@media  (max-width: 1028px){
     #title{
        text-align: center;
     }
     .tittle-image{
        transform: rotate(0);
        position: static;
     }
}
/*footer*/
#footer{

   text-align: center;
   padding: 7% 15%;
}
#cta{
    background-color: #ff4c68;
     padding: 7% 15%;
     color: #fff;
     text-align: center;
    
}
.fit{
    font-family: 'Montserrat', sans-serif;
    line-height: 1.5;
    font-size: 2.5rem;
    color: #fff;
   
}
.social{
    margin: 20px 10px;
}